@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --degrade: linear-gradient(to bottom, #3F05FC, #050CE3, #1157FA, #0583E3, #05D3FC);
    --degrade-cabecalho: linear-gradient(to bottom, #3F05FC);
    --letra-cor: white;
}
*{
    margin: 0px;
    padding: 0px;
    
}

body{
    width: 100vw;
    
    background-image: var(--degrade);    
    font-family: 'Sriracha', cursive;

    overflow-x: hidden;
}
h1{
    text-shadow: 2px 2px 3px black;
    font-size: 2em;
    margin: 2vw;
    padding-top: 1vh;
    
    
    font-size: 2em;
}

/*HEAD*/
header{
    width: 90vw;
    height: 200px;   
    text-align: center;
    margin-top: 3vh;
    
}
header >div{
    width: 100vw;
}

header >div> a > #minha-foto{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    align-content: center; 
    
    background-size: cover; 
    box-shadow: 2px 2px 7px 3px rgba(0, 0, 0, 0.6);
    
}  
header >div> a > #minha-foto:hover{
    border: 2px solid white;
}
nav{
    width: 100vw;
}
nav > ul{
        list-style-type: none;      
        text-align: center;
        margin: 10px;
        
    }
    nav > ul > li {
        display: inline;
        margin: 5px;
        padding: 5px;
    }
    
    nav > ul > li > a > img:hover{
        border: 2px solid rgba(255, 255, 255, 0.7);
        transform: translate(-4px, -4px);
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.685);
        transition: transform 0.3s;
    }    
    nav > ul > li > a > img{
        width: 60px;
        height: 60px;
        border-radius: 50%; 
        box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.9);
        box-sizing: border-box;           
    }



main > section{
    margin: 10%;    
    width: 80vw;    
    
    text-align: center;
    color: var(--letra-cor);
    background-color: rgba(161, 161, 161, 0.7);
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.808);  
}

main > section > p{
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
    line-height: 1.5em;
    padding-bottom: 15px;   
}

#projetos{
    width: 80vw;
    margin: 10%;  

    text-align: center;
    color: var(--letra-cor);
    background-color: rgba(161, 161, 161, 0.7);
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.808);
}


#projetos > div>ul>li{
    list-style: none;
}
#projetos > div>ul>li>a>img{
    width: 150px;
    height: 100px;
    position: relative;
    border-radius: 10px;
    background-image: url(imagem/Projeto-Android.png);
    background-size: cover; 
}
#projetos > div>ul>li>a>img:hover{
    border: 2px solid lightgreen;
    transform: translate(-2px, -2px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.637);
    transition: transform 0.3s;
}

#conhecimentos{
    width: 80vw;
    margin: 10%;  

    text-align: center;
    color: var(--letra-cor);
    background-color: rgba(161, 161, 161, 0.7);
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.808);
}


#conhecimentos > ul{
    display: block;
    list-style-type: none;
}
#conhecimentos > ul > li{
    list-style-type: none;
}
#power-bi{   
    list-style-type: none; 
    width: 85px;
    height: 85px;
    margin: 5px;    

    
    background-image: url(imagem/icon/power-bi-96.png);
    background-size: cover;
    border-radius: 50%;
    box-shadow: 2px 2px 5px black;
}   
    #power-bi:hover{
        border: 2px solid lightgreen;
        transform: translate(-2px, -2px);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.637);
        transition: transform 0.3s;    
    }
    

#excel{
    list-style-type: none;
    width: 85px;
    height: 85px;
    margin: 5px;
    
    background-image: url(imagem/icon/excel-2019-96.png);
    background-size: cover;
    border-radius: 50%;
    box-shadow: 2px 2px 5px black;
}
    #excel:hover{
        border: 2px solid lightgreen;
        transform: translate(-2px, -2px);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.637);
        transition: transform 0.3s;
    }

#excel{
    list-style-type: none;
    width: 85px;
    height: 85px;
    margin: 5px;
    
    background-image: url(imagem/icon/excel-2019-96.png);
    background-size: cover;
    border-radius: 50%;
    box-shadow: 2px 2px 5px black;
}
    #excel:hover{
        border: 2px solid lightgreen;
        transform: translate(-2px, -2px);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.637);
        transition: transform 0.3s;
    }

#html{
    list-style-type: none;
    width: 85px;
    height: 85px;
    margin: 5px;
    
    background-image: url(imagem/icon/html5-100.png);
    background-size: cover;
    border-radius: 50%;
    box-shadow: 2px 2px 5px black;
}
    #html:hover{
        border: 2px solid lightgreen;
        transform: translate(-2px, -2px);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.637);
        transition: transform 0.3s;
    }

#css{
    list-style-type: none;
    width: 85px;
    height: 85px;
    margin: 5px;
    
    background-image: url(imagem/icon/css3-100.png);
    background-size: cover;
    border-radius: 50%;
    box-shadow: 2px 2px 5px black;
}
    #css:hover{
        border: 2px solid lightgreen;
        transform: translate(-2px, -2px);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.637);
        transition: transform 0.3s;
    }

#javascript{
    list-style-type: none;
    width: 85px;
    height: 85px;
    margin: 5px;
    
    background-image: url(imagem/icon/javascript-96.png);
    background-size: cover;
    border-radius: 50%;
    box-shadow: 2px 2px 5px black;
}
    #javascript:hover{
        border: 2px solid lightgreen;
        transform: translate(-2px, -2px);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.637);
        transition: transform 0.3s;
    }

footer{
    width: 100vw;
    background-color: #3F05FC;
    color: var(--letra-cor);
    text-align: center;
}
footer > ul{
    list-style: none;
    text-align: center;
    columns: 2;    
}
